@font-face {
    font-family: 'Alexander';
    src: url('UTMAlexander.woff2') format('woff2'),
        url('UTMAlexander.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Kitten';
    src: url('SVN-Kitten.woff2') format('woff2'),
        url('SVN-Kitten.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fz Evil Empire';
    src: url('FzEvilEmpire.woff2') format('woff2'),
        url('FzEvilEmpire.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

